.env
db.sqlite3
__pycache__/
*.pyc
.venv/
.DS_Store
raw/
*.egg-info/
tmp/*
!tmp/devpost_sample.json
!tmp/mlh_sample.json
!tmp/devfolio_sample.json
!tmp/luma_tech_cat_final.json
!tmp/lablab_sample.json
!tmp/meetup_sample.json